<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap Core CSS -->
    {% load static %}
    <link href="{% static 'issues/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

<!-- jQuery -->
<script src="{% static 'issues/js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'issues/js/bootstrap.min.js' %}"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<div class="container">
    <h4>Hello Chart!</h4>
    <canvas id="myChart" width="100" height="100"></canvas>
</div>

<script>
    {% block js %}
        var endpoint = '/charts/rest/';
        var labels = [];
        var values = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                console.log(data.labels + "\n" + data.values);
                // get data from /chars/rest/ endpoint (powered by django rest framework)
                labels = data.labels;
                values = data.values;
                setChart(labels, values);
            },
            error: function (error_data) {
                console.log("error: " + error_data)
            }
        });

        function setChart(label_array, value_array) {
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'polarArea',
                data: {
                    labels: label_array,
                    datasets: [{
                        label: '# of Votes',
                        data: value_array,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    {% endblock %}
</script>
</body>
</html>
