{% extends 'charts/base.html' %}
{% block content %}
    <h4>Issue Fixing Duration</h4>
    <canvas id="myChart" width="100" height="100"></canvas>
{% endblock %}
<script>
    {% block js %}
        var endpoint = '/charts/rest/issue_chart/';
        var labels = [];
        var values = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                // get data from /chars/rest/ endpoint (powered by django rest framework)
                labels = data.labels;
                values = data.values;
                setChart("myChart", labels, values, 'bar');
            },
            error: function (error_data) {
                console.log("error: " + error_data)
            }
        });
    {% endblock %}
</script>
