{% extends 'issues/base.html' %}
{% block body %}
    <a href="{% url 'new_issue' %}">New Issue</a>
    <br>
    <a href="{% url 'register' %}">Register</a>
    <br>
    <a href="{% url 'login' %}">Login</a>
    <br>
    {% for issue in issue_list %}
        <p>{{ issue.name }}</p>
        <p>{{ issue.creation_time }}</p>
        <p>{{ issue.product }}</p>
        <p>{{ issue.tech_guy }}</p>
        <p>{{ issue.status }}</p>
        <p>{{ issue.customer }}</p>
        <p>{{ issue.customer.phone }}</p>
        <br>
    {% endfor %}
{% endblock %}
